.container > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #72a36d;
  }
  
  body {
    margin: 0;
  }
  
  html, body {
    box-sizing: border-box;
    
    padding: 10px;
    background-color: #adffed;
  }
  
  .container > div:nth-child(1) {
    background-color:red;	
  }
  
  .container > div:nth-child(2) {
    background-color: pink;
  }
  
  .container > div:nth-child(3) {
    background-color:green;
  }
  