.container {
    border: 5px solid #42a9d8;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}


  .home {
      flex-grow:1;
      flex-shrink:1;
      flex-basis:0;
      order:1;
  }

  .logout {
      flex: 1 1 0;
      order:-1;
  }

  .search {
      flex: 1 1 0;
      order:0;
  }

  