.container {
    display: flex;
    flex-wrap: wrap;
}

.container > div > img {
    width:100%;
    object-fit: cover;
}

.container > .normal {
    flex: 1 1 150px;
}

.container > .big {
    flex: 1 1 150px;
}