.container > li {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #e6836a;
    box-sizing: border-box;
    background-color: #c5d119;
    list-style-type: none;
  }
  
  html, body {
    background-color: #55815e;
    margin: 10px;
  }
  
  .container {
    padding: 0;
  }
  .search-input {
    background: #ff6e68;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid greenyellow;
    color: rgb(66, 61, 39);
  }
  ::placeholder{
    color: #e99b78;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .container > li {
    background-color: #6e7543;
  }